extends layout

block content
  .wrapper
    a.btn.btn-success(role='button', href='/create', style='float:left;') Erstellen
    a.btn.btn-warning(role='button', href='/logout', style='float:right;') Logout
    
    table.table
      thead
        tr
          th(scope='col') Kurze URL
          th(scope='col') Lange URL
          th(scope='col') Löschen
      tbody
        each url in urls
          tr
            td
              a(href=url.longUrl) #{url.longUrl}
            td
              - var shortUrl = `${host}/${url.shortUrlId}`;
              a(href=shortUrl) #{shortUrl}
            td
              button.btn.btn-danger.btn-sm(type='button') Löschen